*{
    padding: 0;
    margin: 0;
}

.header{
    color: white;
    width: 100%;
    height: 15vh;
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    position: relative;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.links{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
}
.container{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    width: 500px;
    height: 500px;
    /* border: 1px solid rgb(78, 78, 78); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic{
    width: 170px;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/bravo.png');
    margin-top: -60px ;
}
.contenu{
    width: 50%;
    height: 200px;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}



.button-52 {
color: white;
font-size: 16px;
font-weight: 200;
letter-spacing: 1px;
padding: 13px 20px 13px;
outline: 0;
border: 1px solid black;
cursor: pointer;
position: relative;
background-color: rgba(0, 0, 0, 0);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-52:after {
content: "";
background-color: crimson;
width: 100%;
z-index: -1;
position: absolute;
height: 100%;
top: 7px;
left: 7px;
transition: 0.2s;
}

.button-52:hover:after {
top: 0px;
left: 0px;
}

@media (min-width: 768px) {
.button-52 {
padding: 13px 50px 13px;
}
}
.edit:after{
    background-color: green;
}
.popUp-cotainer{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.561);
    top: 0;
}
.form-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.deco{
    position: absolute;
    top: 4%;
    right:33%;
    width: 150px;
}
.form{
    width: 500px;
    height: 600Px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    width: 300px;
    height: 50px;
    margin-top: 10px;
}


.button-53 {
letter-spacing: 2px;
background-color:crimson;
border: 0 solid #E5E7EB;
box-sizing: border-box;
color: white;
display: flex;
font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 700;
justify-content: center;
line-height: 1.75rem;
padding: .75rem 1.65rem;
position: relative;
text-align: center;
text-decoration: none #000000 solid;
text-decoration-thickness: auto;
width: 100%;
max-width: 200px;
position: relative;
cursor: pointer;
transform: rotate(-2deg);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-53:focus {
outline: 0;
}

.button-53:after {
content: '';
position: absolute;
border: 1px solid #000000;
bottom: 4px;
left: 4px;
width: calc(100% - 1px);
height: calc(100% - 1px);
}

.button-53:hover:after {
bottom: 2px;
left: 2px;
}

@media (min-width: 768px) {
.button-53 {
padding: .75rem 3rem;
font-size: 1.25rem;
}
}